<div id="ingress-banner-helper-missions-list">

  <div class="content">

    <div class="heading">
      <div v-if="!haveApiKey" style="background-color: red; color: white; padding: 1em">YOU HAVE NOT ENTERED YOUR API KEY! You can find it at the "edit profile" page after logging in to specops.quest - use the "Enter API key" button at the end of this page to input it! This will enable cross-site functionality like favorites and other things</div>
      <b>Search</b><br>
      <label><input type="checkbox" v-model="bounded"> limit to current map view</label><br>
      <label><input type="checkbox" v-model="favorites"> limit to favorites</label><br>
      <br>
      <div style="display: flex; flex-direction: row">
        <input placeholder="search by title (use *city* or *city or city* wildcards)" type="text" v-model="title" style="width: 100%" @keydown="checkKey">
        <button @click="search" style="flex: 0; width: 120px !important">Go!</button>
      </div>
    </div>

    <div v-if="results && results.numPages > 1" style="display: flex; flex-direction: row" class="pagination">
      <div style="flex: 1"><button @click="go(-1)">Previous page</button></div>
      <div style="flex: 1; text-align: center;"><span>{{ results.page }} / {{ results.numPages }} ({{ results.count }})</span></div>
      <div style="flex: 1; text-align: right"><button @click="go(+1)">Next page</button></div>
    </div>

    <div class="results">

      <table width="100%" v-if="results">
        <tbody>
          <tr v-for="m in results.results" :key="m.guid">
            <td class="image"><img :src="processImage(m.image)"></td>
            <td class="info">
              <span class="title" @click="show(m.guid)">{{ m.title }}</span><br>
              <div class="stats">
                <span class="rating">👍 {{ Math.round(m.rating) }}%</span>
                <span class="time">⏲ {{ formatTime(m.time) }}</span>
                <span class="waypoints"><span v-if="m.numWaypoints">🚩 {{ m.numWaypoints }}</span></span>
                <span class="distance"><span v-if="m.distance">↔ {{ Math.round(m.distance) }}m</span></span>
              </div>
            </td>
            <td class="action details"">
              <span
                v-if="m.detailsModified"
                v-on:click="getMissionDetails(m.guid)"
                style="cursor: pointer"
                :title="`Last fetched: ${m.detailsModified ? formatTime(Date.now() - m.detailsModified) : '-'}`">✅</span>
              <span v-else-if="currentlyUpdatingGuid == m.guid" title="Updating..">⏳</span>
              <span v-else v-on:click="getMissionDetails(m.guid)" style="cursor: pointer" title="Fetch mission details">🔁</span>
            </td>
            <td class="action favorite" title="Add to pick-list / favorites">
              <span v-if="m.userData && m.userData.favoritedBy.length" v-on:click="toggleFav(m, false)" class="favorited">★</span>
              <span v-else v-on:click="toggleFav(m, true)">☆</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>

</div>