.specopsquest-mission-status {
  padding: 0.2em;
  background-color: rgba(255,255,255,0.25);
  &:before {
    content: "SO";
    background-color: rgba(0,0,0,0.5);
    padding: 0em 0.5em;
    color: white;
  }
}

.specopsquest-mission-status-known {
  cursor: pointer;
  background-color: green;
  color: black;
  /* color: greenyellow; */
  /* border: 1px solid greenyellow;
  color: white; */
}

.specopsquest-mission-status-known-locked {
  cursor: not-allowed;
  /* color: green; */
  /* border: 1px solid green;
  color: white; */
}

.specopsquest-mission-status-pending {
  background-color: orange;
  color: black;
  cursor: wait;
  /* bprder: 1px solid red;
  color: white; */
}

.specopsquest-mission-status-unknown {
  color: black;
  cursor: pointer;
  background-color: gold;

  /* border: 1px solid gold;
  color: white; */
}



#ingress-banner-helper-missions-list {

  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  .content {

    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;    
    overflow: hidden;

    .heading, .pagination {
      flex: 0;
    }

    .heading, .pagination, .results {
      padding-top: 1em;
    }

    .results {
      flex: 1;
      overflow-y: auto;

      table {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
        tr {
          vertical-align: top;
        }
        td {
          margin: 0;
          padding: 1em 0.5em;
          &:first-child {
            padding-left: 1em;
          }
          &:last-child {
            padding-right: 1em;
          }
        }
        td.image {
          width: 64px;
          img {
            border-radius: 48px;
            max-width: 48px;
            box-shadow: 0px 0px 8px #000;
          }
        }
        td.info {
          .title {
            font-weight: bold;    
            font-size: 1.2em;
            padding-bottom: 0.5em;
          }
          .stats {
            width: 100%;
            display: flex;
            flex-direction: row;
            > * {
              flex: 1;
              //font-size: 0.8em;
              color: #999;
            }
          }
  
        }
        td.action {
          cursor: pointer;
          text-align: right;
          width: 2em;
          &.favorite {
            font-size: 1.3em;
            line-height: 1em;
            .favorited {
              color: gold;
            }
          }
          &.details {
            margin-top: 0.3em;
            font-size: 1.3em;
            line-height: 1em;
          }
        }
      }
    }
  }

}

.ingress-banner-helper-dialog-button {
  margin-left: 0.5em;
}