<template>
<el-container class="outer" v-if="state.userReady" style="width: 100%; height: 100%;">

  <el-header class="toolbar">
    <!--
    <b>::[ specops.quest ]::</b>
    &middot;
    -->

    <div style="display: flex; flex-direction: row; justify-content: space-between">

      <div><b>::[ specops.quest ]::</b> {{activeIndex}}</div>

      <el-menu :default-active="activeIndex" class="el-menu-main" mode="horizontal" background-color="#3F88C5" text-color="#FFFFFF" active-text-color="#FFFFFF">
        <el-menu-item index="home" @click="go('Home')">Home</el-menu-item>
        <el-menu-item index="banners" @click="go('Banners')">Banners</el-menu-item>
        <el-menu-item index="map" @click="go('Map')">Map</el-menu-item>
        <el-submenu :disabled="!state.user" index="my">
          <template #title>Manage</template>
          <el-menu-item index="banner-add" @click="go('Add')">Add banner</el-menu-item>
          <el-menu-item index="banner-list" disabled>List my banners</el-menu-item>
        </el-submenu>
        <!--
        <el-submenu index="4">
          <template #title>Links</template>
          <el-menu-item index="2-1"><a href="https://intel.ingress.com">Intel</a></el-menu-item>
          <el-menu-item index="2-2"><a href="https://missions.ingress.com">Mission Creator</a></el-menu-item>
          <el-menu-item index="2-3"><a href="https://iitc.app">IITC</a></el-menu-item>
        </el-submenu>
        -->
        <el-menu-item v-if="!state.user" index="profile-login" @click="go('Login')">Log in</el-menu-item>
        <el-submenu v-else-if ="state.user" index="profile-logged-in">
          <template #title>
            <i class="el-icon-user-solid" />
            <span v-if="state.user.agentName">{{state.user.agentName}}</span>
            <span v-else>{{state.user.googleProfile.displayName}}</span>
          </template>
          <el-menu-item index="profile-edit" @click="go('EditProfile')">Edit profile</el-menu-item>
          <el-menu-item index="profile-logout" @click="go('Logout')">Log out</el-menu-item>
        </el-submenu>
      </el-menu>

    </div>

      <!--

      <router-link to="/" :class="{ active: $route.name == 'Home' }">Home</router-link>
      |
      <router-link to="/banners" :class="{ active: $route.name == 'Banners' }">Banners</router-link>
      |
      <span v-if="state.user">
        <router-link to="/add" :class="{ active: $route.name == 'Add' }">Add banner</router-link>
        |
      </span>
      <router-link to="/map" :class="{ active: $route.name == 'Map' }">Map</router-link>
      |
      <router-link v-if="!state.user" to="/login" :class="{ active: $route.name == 'Login' }">Log in</router-link>
      <router-link v-else to="/logout" :class="{ active: $route.name == 'Logout' }" :title="JSON.stringify(state.user)">Log out ({{ state.user._id  }})</router-link>
    -->


    <!-- <el-dropdown>
      <i class="el-icon-setting" style="margin-right: 15px"></i>
      <template #dropdown>
        <el-dropdown-menu>
            <el-dropdown-item>View</el-dropdown-item>
            <el-dropdown-item>Add</el-dropdown-item>
            <el-dropdown-item>Delete</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
    <span>Tom</span> -->

  </el-header>

  <!--
  <el-container>

    <el-aside class="sidebar" :class="{ hidden: !state.sidebar }">
      sidebar:
      <div id="ARGH">
        teleport target
      </div>
        <el-menu :default-openeds="['1', '3']">
          <el-submenu index="1">
            <template #title><i class="el-icon-message"></i>Navigator One</template>
            <el-menu-item-group>
              <template #title>Group 1</template>
              <el-menu-item index="1-1">Option 1</el-menu-item>
              <el-menu-item index="1-2">Option 2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="Group 2">
              <el-menu-item index="1-3">Option 3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="1-4">
              <template #title>Option4</template>
              <el-menu-item index="1-4-1">Option 4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-submenu index="2">
            <template #title><i class="el-icon-menu"></i>Navigator Two</template>
            <el-menu-item-group>
              <template #title>Group 1</template>
              <el-menu-item index="2-1">Option 1</el-menu-item>
              <el-menu-item index="2-2">Option 2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="Group 2">
              <el-menu-item index="2-3">Option 3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="2-4">
              <template #title>Option 4</template>
              <el-menu-item index="2-4-1">Option 4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-submenu index="3">
            <template #title><i class="el-icon-setting"></i>Navigator Three</template>
            <el-menu-item-group>
              <template #title>Group 1</template>
              <el-menu-item index="3-1">Option 1</el-menu-item>
              <el-menu-item index="3-2">Option 2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="Group 2">
              <el-menu-item index="3-3">Option 3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="3-4">
              <template #title>Option 4</template>
              <el-menu-item index="3-4-1">Option 4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
        </el-menu>
    </el-aside>

    <el-container>
      <router-view class="main" />
    </el-container>

  </el-container>
  -->
  <router-view class="content full" />
    
</el-container>

<el-container v-else>
  <el-main>hold on..</el-main>
</el-container>

</template>

<style lang="scss">

.splitpanes {
}

.splitpanes__pane {
}

.splitpanes--vertical > .splitpanes__splitter {
  width: 16px;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 16px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  //font-size: 0.8em;
}

body, html, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Coda;
  //font-family: Exo;
}

.el-main {
  font-size: 0.95em;
}

.el-aside {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(232,232,232,0.47942927170868344) 100%);
}

.outer {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #FFFFFF;
  &.hidden {
    display: none;
  }  
}

.toolbar {
  a, a:visited {
    color: white !important;
    text-decoration: none !important;
  }
}

.el-header {
  background-color: #3F88C5;
  color: #FFFFFF;
  line-height: 60px;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999999;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 60px;
  &.full {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

.nav {
  a, a:visited {
    color: white;
    &.active {
      font-weight: bold;
    }    
  }
}

</style>

<script lang="ts">

import { BACKEND_KEY, BackendService } from '@/services/backend-service';

import { defineComponent } from 'vue';

export default defineComponent({

  inject: [ 'state', BACKEND_KEY ],

  computed: {
    backendService(): BackendService {
      return (<any>this)[BACKEND_KEY];
    },
    activeIndex(): string {
      switch (this.$route.name) {
        case "Home": return "home";
        case "Banners": return "banners";
        case "Map": return "map";
        case "Banner": return "banners";
        case "Add": return "banners-add";
        case "EditProfile": return "profile-edit";
        case "Login": return "profile-login";
        case "Logout": return "profile-logout";
        default: return "";
      }
    }
  },

  data() {
    return {
      sidebar: false
    }
  },

  async mounted() {
    const state = (<any>this)["state"] as any;
    console.log("STATE IS", state);
    let user = null;
    try {
      if (!state.user) {
        state.user = await this.backendService.getAuth();
        console.log("USER IS", state.user)
      } else {
        console.log("USER WAS ALREADY", user)
      }
    } catch (err) {
      console.error(err);
      console.log("USER CHECK FAILED", err);
      state.user = null;
    }
    console.log("USER SET READY");
    state.userReady = true;
  },

  methods: {
    go(name: string, params?: any) {
      if (params) this.$router.push({ name, params })
      else this.$router.push({ name });
    }
  }
});

</script>

<style lang="scss">


</style>