<template>
  <div class="outer">
    <p-accordion class="fill">
      <p-accordion-tab header="foo" class="fill">
        <!-- <p-scroll-panel class="fill"> -->
        <div style="height: 100%; overflow-y: auto">
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        stuff!<br>
        stuffstuff!<br>
        LAST STUFF
        </div>
        <!-- </p-scroll-panel> -->
      </p-accordion-tab>
    </p-accordion>
  </div>

</template>

<style lang="scss">

.p-accordion {
  height: 100% !important;;

  .p-accordion-tab {
    height: 100%;  
  }

  .p-accordion-content {
    padding: 0 !important;
    margin: 0;
    height: 100% !important;
  }

}


.p-toggleable-content {
  padding: 0;
  margin: 0;
  height: 100%;
}



</style>

<style lang="scss">

.outer {
  overflow: hidden
}

.fill {
  height: 100%;
  width: 100%;
}

html, body, #app, .outer {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--surface-0);
  color: var(--text-color);
}

</style>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
});

</script>