<template>
  <x-map
    ref="map"
    v-model:center="center"
    v-model:zoom="zoom"
    @zoomend="moved"
    @moveend="moved"
    >
    <x-map-tiles />

    <x-map-marker-cluster-group
      :options="{ showCoverageOnHover: false, zoomToBoundsOnClick: true, maxClusterRadius: 30 }"
      >
      <x-map-banner-marker
        v-for="b in banners"
        :key="b.guid"
        :banner="b"
        />
    </x-map-marker-cluster-group>

    <x-map-marker-cluster-group
      :options="{ showCoverageOnHover: false, zoomToBoundsOnClick: true, maxClusterRadius: 30 }"
      >
      <x-map-mission-marker
        v-for="m in missions"
        :key="m.guid"
        :mission="m"
        />
    </x-map-marker-cluster-group>


    <x-map-tile-data-source
      :loadTileData="loadTileData"
      :loadedTileData="addTileData"
      :loadedData="updatedTileData"
      />

  </x-map>
  <div class="overlay">{{center}} {{zoom}}</div>
</template>

<style lang="scss" scoped>

.mapp {
  height: 100% !important;
  width: 100% !important;
}

.overlay {
  position: fixed;
  z-index: 100000000;
  background-color: yellow;
  right: 0;
  color: black;
  bottom: 0;
}

</style>

<style lang="scss">

html, body, #app, .outer {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--surface-0);
  color: var(--text-color);
}

</style>

<script lang="ts">

import { ITileData } from './lib/mercator-tile-loader';

import { IBanner, IMissionInfoDetailed } from '../../shared/src/types';

import { defineComponent } from 'vue';

import Map from './components/Map.vue';
import MapTiles from './components/MapTiles.vue';
import MapLayerGroup from './components/MapLayerGroup.vue';
import MapMarker from './components/MapMarker.vue';
import MapMarkerClusterGroup from './components/MapMarkerClusterGroup.vue';
import MapBannerMarker from './components/MapBannerMarker.vue';
import MapMissionMarker from './components/MapMissionMarker.vue';
import MapTileDataSource from './components/MapTileDataSource.vue'
  
import { BACKEND_KEY, BackendService } from './services/backend-service';

export default defineComponent({

inject: [ BACKEND_KEY ],
  
  computed: {

    backendService(): BackendService {
      return (<any>this)[BACKEND_KEY];
    },

    banners(): Array<IBanner> {
      return this.items.filter(item => item.b).map(item => item.b);
    },

    missions(): Array<IMissionInfoDetailed> {
      return this.items.filter(item => item.m).map(item => item.m);
    }
  },

  components: {
    XMap: Map,
    XMapTiles: MapTiles,
    XMapLayerGroup: MapLayerGroup,
    XMapMarker: MapMarker,
    XMapMarkerClusterGroup: MapMarkerClusterGroup,
    XMapBannerMarker: MapBannerMarker,
    XMapTileDataSource: MapTileDataSource,
    XMapMissionMarker: MapMissionMarker
  },

  data() {
    return {
      zoom: 15,
      center: [ 59.91838719629693, 10.747590065002443 ],
      items: [] as Array<any>
    }
  },

  async mounted() {
  },

  methods: {

    moved() {
      // history.replaceState(null, '', `/map/${c.lat}/${c.lng}/${z}`);
    },

    loadTileData(tile: ITileData<any>) {
      //let u = `/api/b/map/${tile.z}/${tile.x}/${tile.y}`;
      let u = `/api/map/${tile.z}/${tile.x}/${tile.y}?missions=1&banners=0`;
      tile.xhr!.open("GET", u, true);
    },

    addTileData(data: any[]) {
      // console.log("addTileData", data);
    },

    updatedTileData(data: any[]) {
      // console.log("updateTileData", data);
      this.items = data;
    }

  }
});

</script>