<template>
  <ingress-map
    ref="map"
    v-model:center="center"
    v-model:zoom="zoom"
    @zoomend="moved"
    @moveend="moved"
    :showMissions="true"
    :showBanners="false"
    :showSummaries="false"
    :showUsed="false"
    >
  </ingress-map>
</template>

<style lang="scss">

html, body, #app, .outer {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--surface-0);
  color: var(--text-color);
}

</style>

<script lang="ts">

import { defineComponent } from 'vue';
import IngressMap from './components/IngressMap.vue';
import { BACKEND_KEY, BackendService } from './services/backend-service';

export default defineComponent({

inject: [ BACKEND_KEY ],
  
  computed: {

    backendService(): BackendService {
      return (<any>this)[BACKEND_KEY];
    },

  },

  components: {
    IngressMap: IngressMap
  },

  data() {
    return {
      zoom: 15,
      center: [ 59.91838719629693, 10.747590065002443 ]
    }
  },

  methods: {

    moved() {
      console.log("moved", this.center, this.zoom);
      // history.replaceState(null, '', `/map/${c.lat}/${c.lng}/${z}`);
    }

  }
});

</script>