<template>

  <BannerEditor
    class="fs"
    v-model:banner="banner"
    v-model:step="step"
    :add="true"
    @step-changed="$emit('step-changed', $event)"
    />
  
</template>

<script lang="ts">

import { defineComponent, PropType } from 'vue';
import { icons } from '../lib/icons';
import { IBanner } from '../../../shared/src/types';

export default defineComponent({
  props: {
    step: {
      type: Number
    },
    banner: {
      type: Object as PropType<IBanner>,
      //required: true
    }
  },
  data() {
    return {
      icons: Object.freeze(icons)
    }
  },
  methods: {
  }
});

</script>

<style lang="scss" scoped>

.fs {
  box-sizing: border-box;
  border: 1px solid green;
}

</style>