<template>
  <div class="appContent">
    <el-main>

      <p>RIP IngressMosaik 😥 Now, where are all the cat banners..?! 🐱‍👤</p>

      <div v-if="recents">
          <h3>Most recently added banners</h3>
        <BannerGrid :banners="recents.results" />
      </div>

    </el-main>
  </div>
</template>

<script lang="ts">

import { BACKEND_KEY, BackendService } from '@/services/backend-service';
import { defineComponent } from 'vue';
import BannerGrid from '../components/BannerGrid.vue';
import { ISearchResults, IBanner } from '../../../shared/src/types';

export default defineComponent({

  name: 'Home',

  inject: [ BACKEND_KEY ],

  components: {
    BannerGrid
  },

  computed: {
    backendService(): BackendService {
      return (<any>this)[BACKEND_KEY];
    }
  },

  data() {
    return {
      recents: null as ISearchResults<IBanner> | null
    }
  },

  async created() {
    this.recents = await this.backendService.getBanners({ sort: 'createdAt', sortReverse: true, pageSize: 20 });
  }

});
</script>